body {
    margin: auto;
    }
    
    /* Sfondo del logo*/
header {
    margin: auto;
    height: 100%;
    background-color: #4EA0FF;
    background-image: url(img/pattern.png);
    background-size: 20% 200%;
    }

    /* Logo testata */
.logo {
    max-width: 15%; 
    margin-left: 1%; 
    margin-top: 2%;
    }